<nav class="navbar" role="navigation">

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink=""  class="navbar-item">
        Home
      </a>
      <a routerLink="/createuser" class="navbar-item">
        Create Member
      </a>
      <a routerLink="/edituser" class="navbar-item">
        Update Member
      </a>
      <a routerLink="/viewusers" class="navbar-item">
        View Users
      </a>
      <a routerLink="/createmovie" class="navbar-item">
        Create Movie
      </a>
      <a routerLink="/viewmovie"class="navbar-item">
        View Movies
      </a>
      <a routerLink="/rentreturnmovie" class="navbar-item">
        Rent/Return Movie
      </a>
      <a routerLink="/viewrentals" class="navbar-item">
        View Rentals
      </a>
    </div>
  </div>
</nav>
