<!doctype html>
<html lang="en">
<head>
  <title>Movie Registration</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="createmovie.component.css">

</head>
<body>
<div class="box">
  <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
    <div class="banner">
      <div  class="image"></div>
      <h1>Movie Registration</h1>
    </div>
    <div class="colums">
      <div class="item">
        <label for="title">Movie Title</label>
        <input id="title" type="text" ngModel name="title" required/>
      </div>
      <div class="item">
        <label for="releaseDate">Release Date:</label>
        <input type="date" id="releaseDate" ngModel name="releaseDate">
      </div>
<!--      <div class="item">-->
<!--        <label for="releaseDate">Release Date</label>-->
<!--        <input id="releaseDate" type="text" name="releaseDate" required/>-->
<!--      </div>-->
      <div class="item">
        <label for="stock">Movie Stock</label>
        <input id="stock" type="number"  ngModel name="stock" required/>
      </div>
      <div class="item">
        <label for="publisher">Publisher</label>
        <input id="publisher" type="text" ngModel name="studio" required/>
      </div>
      <div class="item">
        <label for="movieGenres">Genres</label>
        <input id="movieGenres" type="text" ngModel name="genres"/>
      </div>
      <div class="item">
        <label for="price">Price</label>
        <input id="price" type="number"  ngModel name="price" required/>
      </div>
    </div>
    <div class="item2 item">
      <label for="mainActors">Main Actors</label>
      <input id="mainActors" type="text"  ngModel name="mainActors" required  size=""/>
    </div>

    <div class="btn-block">

      <button type="submit" href="/"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
    </div>
  </form>
</div>
</body>
</html>
